h1 {
    color:red;
    font-size: 60px;
    font-family: "Roboto", sans-serif;
    font-weight: bolder;
    font-style: italic;
    text-shadow: 25px 24px 10px rgb(68, 14, 14);
}
p {
    color: blue;
    font-size: 30px;
    font-weight: lighter;
    font-family: "Roboto", sans-serif;
    line-height: 60px;
}
